button {
  border-radius: 0px;
  background: var(--shade99);
  border: none;
  border-top: solid 3px var(--flavor);
  border-bottom: solid 0px var(--flavor);
}

button {
  cursor: pointer;
  color: var(--foreground);
  padding: 0rem 2.5rem;
  min-height: 3rem;
  transition: 0.8s ease-in-out;
  &:hover {
    background: var(--shade00);
    border-top: solid 0px var(--flavor);
    transition: .2s ease-in-out;
  }
  &:active {
    color: var(--background);
    background: var(--shade50);
  }
}