button {
  background: var(--background-10);
  cursor: pointer;

  min-width: var(--block-size);
  min-height: var(--block-size);
  max-height: var(--block-size);
  height: var(--block-size);

  border-radius: var(--radius);

  border:
    var(--border-size) 
    var(--border-style)
    var(--foreground-20);
  border: none;
}

button.active {
  background: var(--accent-20);
  color: var(--accent);
}

button:disabled {
  background: var(--foreground-10);
  color: var(--foreground-20);
  cursor: not-allowed;
  pointer-events: none;
}

button:focus:not(.no-outline),
button:active:not(.no-outline),
textarea:focus:not(.no-outline),
textarea:active:not(.no-outline),
.focus:focus:not(.no-outline),
.focus:active:not(.no-outline) {
  outline: 2px 
    var(--border-style)
    var(--accent);
}

img {
  object-fit: cover;
}

.ProseMirror {
  position: relative;
}

